################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoBoutique/.vs/DemoBoutique/FileContentIndex
/DemoBoutique/.vs/DemoBoutique/DesignTimeBuild/.dtbcache.v2
/DemoBoutique/.vs/DemoBoutique/v17/.futdcache.v2
/DemoBoutique/.vs/DemoBoutique/v17/.suo
/DemoBoutique/.vs/DemoBoutique/v17/DocumentLayout.json
/DemoBoutique/.vs/ProjectEvaluation/demoboutique.metadata.v7.bin
/DemoBoutique/.vs/ProjectEvaluation/demoboutique.projects.v7.bin
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.API.exe
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.API.pdb
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Infrastructure.exe
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Infrastructure.pdb
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/ref/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/refint/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/apphost.exe
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.csproj.AssemblyReference.cache
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.pdb
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.sourcelink.json
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.BackOffice.exe
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.BackOffice.pdb
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/apphost.exe
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.GeneratedMSBuildEditorConfig.editorconfig
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.pdb
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.sourcelink.json
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/project.razor.vs.bin
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/ref/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/refint/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Infrastructure.exe
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Infrastructure.pdb
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/ref/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/refint/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/project.razor.vs.bin
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/apphost.exe
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.csproj.CoreCompileInputs.cache
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.pdb
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.sourcelink.json
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Application.dll
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Application.pdb
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.csproj.FileListAbsolute.txt
/DemoBoutique/DemoBoutique.Application/bin/Debug/net6.0/DemoBoutique.Application.dll
/DemoBoutique/DemoBoutique.Application/bin/Debug/net6.0/DemoBoutique.Application.pdb
/DemoBoutique/DemoBoutique.Application/bin/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.Application/bin/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/ref/DemoBoutique.Application.dll
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/refint/DemoBoutique.Application.dll
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/DemoBoutique.Application.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/DemoBoutique.Application.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/DemoBoutique.Application.csproj.AssemblyReference.cache
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/DemoBoutique.Application.dll
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/DemoBoutique.Application.pdb
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0/DemoBoutique.Application.sourcelink.json
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.csproj.AssemblyReference.cache
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.csproj.CoreCompileInputs.cache
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.csproj.FileListAbsolute.txt
/DemoBoutique/DemoBoutique.Domain/bin/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.Domain/bin/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/ref/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/refint/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.csproj.CoreCompileInputs.cache
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.csproj.FileListAbsolute.txt
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.Domain/obj/Debug/net6.0/DemoBoutique.Domain.sourcelink.json
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/blazor.boot.json
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/blazor.boot.json.gz
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.Domain.dll.gz
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.Domain.pdb.gz
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.FrontOffice.dll
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.FrontOffice.dll.gz
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.FrontOffice.pdb
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework/DemoBoutique.FrontOffice.pdb.gz
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/DemoBoutique.FrontOffice.dll
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/DemoBoutique.FrontOffice.pdb
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/DemoBoutique.FrontOffice.staticwebassets.runtime.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/compressed/274mqfdute.gz
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/compressed/d2o6jho1jm.gz
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/compressed/jngbkb5lie.gz
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/compressed/tmkn4qkplv.gz
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/compressed/uji5zuu4c3.gz
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/ref/DemoBoutique.FrontOffice.dll
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/refint/DemoBoutique.FrontOffice.dll
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/staticwebassets/msbuild.DemoBoutique.FrontOffice.Microsoft.AspNetCore.StaticWebAssets.props
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/blazor.boot.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.csproj.AssemblyReference.cache
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.csproj.CoreCompileInputs.cache
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.csproj.FileListAbsolute.txt
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.dll
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.GeneratedMSBuildEditorConfig.editorconfig
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.pdb
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/DemoBoutique.FrontOffice.sourcelink.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/staticwebassets.build.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/staticwebassets.development.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/staticwebassets.pack.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/DemoBoutique.FrontOffice.csproj.nuget.dgspec.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/project.assets.json
/DemoBoutique/DemoBoutique.FrontOffice/obj/project.nuget.cache
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Application.dll
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Domain.pdb
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Application.pdb
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Domain.dll
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.csproj.AssemblyReference.cache
/DemoBoutique/DemoBoutique.slnLaunch.user
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0
/DemoBoutique/DemoBoutique.FrontOffice/bin/Debug/net6.0/wwwroot/_framework
/DemoBoutique/DemoBoutique.Application/obj/Debug/net6.0
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0
