################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoBoutique/.vs/DemoBoutique/FileContentIndex
/DemoBoutique/.vs/DemoBoutique/DesignTimeBuild/.dtbcache.v2
/DemoBoutique/.vs/DemoBoutique/v17/.futdcache.v2
/DemoBoutique/.vs/DemoBoutique/v17/.suo
/DemoBoutique/.vs/DemoBoutique/v17/DocumentLayout.json
/DemoBoutique/.vs/ProjectEvaluation/demoboutique.metadata.v7.bin
/DemoBoutique/.vs/ProjectEvaluation/demoboutique.projects.v7.bin
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.API.exe
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.API.pdb
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Infrastructure.exe
/DemoBoutique/DemoBoutique.API/bin/Debug/net6.0/DemoBoutique.Infrastructure.pdb
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/ref/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/refint/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/apphost.exe
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.csproj.AssemblyReference.cache
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.dll
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.pdb
/DemoBoutique/DemoBoutique.API/obj/Debug/net6.0/DemoBoutique.API.sourcelink.json
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.BackOffice.exe
/DemoBoutique/DemoBoutique.BackOffice/bin/Debug/net6.0/DemoBoutique.BackOffice.pdb
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/apphost.exe
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.GeneratedMSBuildEditorConfig.editorconfig
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.pdb
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/DemoBoutique.BackOffice.sourcelink.json
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/project.razor.vs.bin
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/ref/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.BackOffice/obj/Debug/net6.0/refint/DemoBoutique.BackOffice.dll
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Infrastructure.exe
/DemoBoutique/DemoBoutique.Infrastructure/bin/Debug/net6.0/DemoBoutique.Infrastructure.pdb
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/ref/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/refint/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.FrontOffice/obj/Debug/net6.0/project.razor.vs.bin
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.dll
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.AssemblyInfo.cs
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.AssemblyInfoInputs.cache
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/apphost.exe
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.csproj.CoreCompileInputs.cache
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.pdb
/DemoBoutique/DemoBoutique.Infrastructure/obj/Debug/net6.0/DemoBoutique.Infrastructure.sourcelink.json
