@using DemoBoutique.Domain.Models
@inherits LayoutComponentBase

<CascadingValue Value="commandeModel">
    <CascadingValue Value="event_alert">

        <div class="page">
            <div class="sidebar">
                <NavMenu panierCount="@panierCount" />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</CascadingValue>
@code {

    EventCallback event_alert => EventCallback.Factory.Create(this, (Action)RefreshPanier);
    int panierCount = 0;
    public CommandeModel commandeModel { get; set; } = new CommandeModel { CommandeLigneModels = new List<CommandeLigneModel>() };

    public void RefreshPanier()
    {
        panierCount = commandeModel.CommandeLigneModels.Sum(c => c.Quantite);

    }
}
