@page "/login"
@layout LoginpageLayout
@inject AuthService _loginService

@inject NavigationManager _navigationManager
@using DemoBoutique.BackOffice.Services
@using DemoBoutique.Domain;
@using DemoBoutique.Domain.Models

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="@loginRequest">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" required @bind="loginRequest.Username" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4"  class="form-control form-control-lg" @bind="loginRequest.Password"
                               placeholder="Enter password" required />
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>                   

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a href="#!"
                                                      class="link-danger">Register</a>
                        </p>
                    </div>
                    <label class="text-danger d-block mt-0 mb-5">@error</label>


                </EditForm>
            </div>
        </div>
    </div>

</section>


@code {


    public LoginRequest loginRequest { get; set; } = new LoginRequest();
    string? error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            var result = await _loginService.LoginAsync(loginRequest);
            if (result.IsSuccessStatusCode)
            {
                _navigationManager.NavigateTo("/", true, true);
            }
            else
            {
                var message = await result.Content.ReadAsStringAsync();

                error = (string)message;
            }

        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}


